{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
    <h1 class="text-xl">Connexion</h1>
    {# utilisation d'une classe de formulaire ici, pour le tenter... #}
    {{ form(loginForm) }}
{% endblock %}
