.logo {
    position: relative;
    top: -2px;
    margin-right: 2px;
}

.all-inline label,
.all-inline div,
.all-inline input {
    display: inline-block;
}

.all-inline label {
    margin-right: 5px;
}

.dates-special input {
    max-width: 88%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.hidden {
    display: none;
}