body {
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

body > .container {
    background-color: rgba(255,255,255,0.8);
}

h1 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
    font-size: 1.25rem;
}

a {
    color: #3182CE;
}

a:hover {
    color: #2C5282;
    text-decoration: underline;
}

.logo img {
    position: relative;
    top: -2px;
    margin-right: 2px;
}

a.logo {
    color: inherit;
}

a.logo:hover {
    color: #2C5282;
    text-decoration: none;
}

.actions a {
    display: block;
}

.all-inline label,
.all-inline div,
.all-inline input {
    display: inline-block;
}

.all-inline label {
    margin-right: 5px;
}

.dates-special input {
    max-width: 88%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.hidden {
    display: none;
}

.flash {
    padding: 20px;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    border-radius: 3px;
}

.flash-success {
    background-color: #1e7e34;
}

.flash-error {
    background-color: #bd2130;
}

.profile-picture {
    max-width: 200px;
}

#registration_form_role label,
#registration_form_role input {
    display: inline-block;
}
#registration_form_role label {
    margin-right: 15px;
}

/** Accueil **/
.home-event-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.home-event-cards > article {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.home-event-cards > article.white-card {
    background-color: rgba(255, 255, 255, 0.9);
}

.home-event-cards > article.red-card {
    background-color: rgba(253, 213, 213, 0.9);
}

.home-event-cards > article.green-card {
    background-color: rgb(220, 253, 213);
}

.card-title {
    font-size: 1.2rem;
    color: #000;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: rgba(255,255,255,0.9);
    padding: 5px 15px;
    border-radius: 3px;
}

@media screen and (min-width: 768px) {
    .home-event-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .home-event-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
