{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block main %}
    <h1>Sortir.com</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deserunt dignissimos explicabo hic, quibusdam quo rerum totam voluptatum. Accusantium aspernatur eaque eum non, provident repudiandae sequi sint sunt veniam! Cumque.</p>
{% endblock %}
