{% extends 'admin/admin_base.html.twig' %}

{% block main %}
    <h1>Back-officinou</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa deleniti sit. Asperiores cum quisquam sit. Aperiam assumenda commodi, dolorem expedita inventore libero nisi, officia praesentium quae repudiandae suscipit vitae.</p>
    <div>
        <nav>
            <a href="{{ path('admin_user_add') }}">Créer un utilisateur</a>
        </nav>
    </div>
{% endblock %}