{% extends 'base.html.twig' %}

{% block title %}Oups ! Erreur{% endblock %}

{% block main %}
    <h2>Arggggghhhh une erreur 404</h2>
    <img src="https://media.giphy.com/media/1BXa2alBjrCXC/giphy.gif" alt="oups">
{% endblock %}