{% extends 'base.html.twig' %}

{% block title %}Oups ! Erreur{% endblock %}

{% block main %}
    <h2>Arggggghhhh une erreur</h2>
    <img src="https://media.giphy.com/media/AAsj7jdrHjtp6/giphy.gif" alt="zuuut">
{% endblock %}