{% extends 'base.html.twig' %}

{% block title %}Oups ! Erreur{% endblock %}

{% block main %}
    <h2>Arggggghhhh une erreur 403</h2>
    <img src="https://media.giphy.com/media/pPhyAv5t9V8djyRFJH/giphy.gif" alt="arfff">
{% endblock %}