{% if event.state.name == "Ouverte" %}
    {% if event.isRegistered(app.user) %}
        <a href="{{ path('registration_remove', {'id': event.id}) }}">Désinscription</a>
    {% elseif is_granted('register', event) %}
        <a href="{{ path('registration_create', {'id': event.id}) }}">Inscription</a>
    {% endif %}
{% endif %}
{% if is_granted('cancel', event) %}
    <a href="{{ path('event_cancel', {'id': event.id}) }}">Annuler l'événement</a>
{% endif %}